/* * {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
} */


h1, h2 {
  text-align: center;
}
h1 {
  font-size: 350%;
  font-weight: bolder;
}
h2 {
  font-size: 180%;
}
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  font-size: 20px;
}
.mt-100 {
  margin-top: 100px;
}
.center-star {
  text-align: center;
}
.center-star:before,
.center-star:after {
    display: inline-block;
    height: 4px;
    background-color: #000;
    content: " ";
    width: 6%;
    margin: 0 auto;
    margin-bottom: 5px;
}

.bg-green {
  background: #19AB8E;
  border-radius: 4%;
}
/* ------------------------------- */
/*     HEADER      */
/* ------------------------------- */

header {
  background-color: #2C3E50;
  min-height: 100px;
  text-transform: uppercase;
  text-align: center;
}
header > .container {
  height: 100%;
  padding-top: 30px;
}

#menu-hamburger {

}
#hamburger-show {
  display: none;
}

.hamburger-dropdown {
  position: absolute;
  display: none;
  right: -0px;
  z-index: 1;
  background-color: #fff;
}

#hamburger-show:hover .hamburger-dropdown {
  display: block;
}

/* ------------------------------- */
/*     START SECTION      */
/* ------------------------------- */
#start-section {
  background-color: #1ABC9C;
  height: 600px;
  color: #fff;
  text-align: center;
}
#start-section .container-fluid > img {
  min-width: 100px;
  max-width: 250px;
}


/* .avatar-image {
  width: 250px;
} */
/* .centerimg {
  text-align: center;
}
#start-section .centerimg > img {
  height: 250px;
} */

/* ------------------------------- */
/*     PORTFOLIO SECTION      */
/* ------------------------------- */
#portfolio {
  text-align: center;
}
#portfolio .row img {
  max-width: 100%;
  border-radius: 4%;
}
#portfolio .row img:hover {
  opacity: 0.3;
}
#portfolio .row > div {
  margin-bottom: 20px;

}
/* ------------------------------- */
/*     ABOUT SECTION      */
/* ------------------------------- */

#about {
  background-color: #1ABC9C;
  color: #fff;
}

#about button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* ------------------------------- */
/*     CONTACT ME    */
/* ------------------------------- */
#contact form {
  padding: 40px 0;
}
/* ------------------------------- */
/*     FOOTER   */
/* ------------------------------- */
footer {
  text-align: center;
  background-color: #2C3E50;
  color: #fff;
}
footer .container:first-child {
  padding: 30px 0;
}
footer .container:last-child  {
  width: 100%;
  background-color: #1A252F;
  text-align: center;
  padding: 30px 0;
}
/* MEDIA QUERY */
@media screen and (min-width:991px) {
  #about .container {
    width: 60%;
  }

}

@media screen and (max-width:991px) {
  #menu-hamburger > ul {
    display: none;
  }
  #hamburger-show {
    display: block;
    position: relative;
  }
  footer .container:first-child {
    width: 40%;
  }
}


@media screen and (max-width:768px) {
  #portfolio .container {
    width: 70%;
  }
  footer .container:first-child {
    width: 60%;
  }
}
