/* * {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
} */


h1, h2 {
  text-align: center;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  font-size: 20px;
}

.center-star {
  text-align: center;
}
/* ------------------------------- */
/*     HEADER      */
/* ------------------------------- */

header {
  background-color: #2C3E50;
  height: 100px;
  text-transform: uppercase;
  text-align: center;
}
header > .container {
  height: 100%;
  padding-top: 30px;
}

#menu-hamburger {

}
#hamburger-show {
  display: none;
  position: relative;
}
#hamburger-show i {
  position: relative;
}
.hamburger-dropdown {
  position: absolute;
  display: none;
  right: 150px;
  width: 150px;
  height: 300px;
  z-index: 99;
  background-color: #fff;
  padding: 5px;
  text-align: center;
  border: 1px solid #A99D7F;
}

#hamburger-show:hover .hamburger-dropdown {
  display: block;
}

/* ------------------------------- */
/*     START SECTION      */
/* ------------------------------- */
#start-section {
  background-color: #1ABC9C;
  height: 679px;
  color: #fff;
}
#start-section .container-fluid > img {
  width: 250px;
}


.avatar-image {
  width: 250px;
}
/* .centerimg {
  text-align: center;
}
#start-section .centerimg > img {
  height: 250px;
} */

/* ------------------------------- */
/*     PORTFOLIO SECTION      */
/* ------------------------------- */
#portfolio {
  text-align: center;
}
#portfolio .row img {
  max-width: 100%;
}

/* ------------------------------- */
/*     ABOUT SECTION      */
/* ------------------------------- */

#about {
  background-color: #1ABC9C;
  margin-top: 100px;
  color: #fff;
}

#about button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* MEDIA QUERY */
@media screen and (min-width:991px) {
  #about .container {
    width: 60%;
  }
}

@media screen and (max-width:991px) {
  #menu-hamburger ul {
    display: none;
  }
  #hamburger-show {
    display: block;
    position: relative;
    color: #fff;
  }
}


@media screen and (max-width:768px) {
  #portfolio.container {
    width: 70%;
  }
}
